body {
    background-color: black;
    font-family: Arial, sans-serif;
    background-image: url('../imagenes/fondo_logeo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

#login {
    background-color: rgba(255, 255, 255, 0.95); 
    width: 400px; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5); /*el 25px es difuminado*/
    box-sizing: border-box;
}

#login-form {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 15px;              
}

#logo {
    width: 150px; 
    height: auto; 
    margin-bottom: 10px;
}

h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.inputs {
    width: 100%;
}

.campos {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /*Evita que el tamaño de la caja aumente al añadir padding o bordes*/
    font-size: 16px; 
}

#iniciar-sesion {
    display: block;        
    width: 100%;
    padding: 12px 0;      
    background-color: #388f33; 
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;   
    text-decoration: none; 
    box-sizing: border-box;
    transition: background 0.5s;
    margin-top: 5px;
}

#iniciar-sesion:hover {
    background-color: #375839;
}

.link-secundario {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    margin-top: 5px;
    text-align: center;
}

.link-secundario:hover {
    text-decoration: underline;
    color: #388f33;
}

@media (max-width: 450px) {
    #login {
        width: 90%; 
        padding: 30px 20px;
    }

    h2 {
        font-size: 18px;
    }

    .campos {
        padding: 14px; 
    }

    #logo {
        width: 120px;
    }
}